.welcomeImage{
    -fx-background-image: url("https://image.freepik.com/free-vector/agribusiness_43296-14.jpg");
    -fx-background-size: 100% 100%;
}
.plotImage{
    -fx-background-image: url('https://fossies.org/linux/three.js/examples/textures/terrain/grasslight-big.jpg');
    -fx-background-size: 100% 100%;
}
.configImage{
    -fx-background-image: url('https://img.freepik.com/free-vector/illustration-mountain-countryside-farm-barn-with-windmill_50699-621.jpg?size=626&ext=jpg');
    -fx-background-size: 100% 100%;
}
.farmBackgroundImage{
    -fx-background-image: url('http://texturelib.com/Textures/soil/ground/soil_ground_0064_01_preview.jpg');
    -fx-background-size: 100% 100%;
}
.seedImage {
    -fx-background-image: url('https://www.jing.fm/clipimg/full/20-200139_28-collection-of-apple-seed-clipart-cars-jeans.png');
    -fx-background-size: 100% 100%;
}
.immaturePlantImage {
    -fx-background-image: url('https://i.imgur.com/dl5HcRF.png');
    -fx-background-size: 100% 100%;
}
.maturePlantImage {
    -fx-background-image: url('https://i.pinimg.com/originals/dc/33/2e/dc332eed5598fc5418b7990a538b4213.png');
    -fx-background-size: 100% 100%;
}